.otp-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 242, 247, 0.5); 
    backdrop-filter: blur(8px); /* Blur the background */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    z-index: 1000;
}

.otp-modal-container {
    background: white;
    padding: 10px;
    border-radius: 8px;
    width: 370px;
    text-align: center;
    position: relative;
}

.otp-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #888;
}

.otp-modal-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}

.otp-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp-input-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.otp-input-box {
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}


  

.otp-modal-verify {
    width: 100% !important;
    background-color: #2185d0;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.otp-modal-verify[disabled] {
    background-color: #bbb;
}

.message {
    margin-top: 10px;
    font-size: 0.9rem;
}

.otp-timer{
    color: #2185d0;
}