.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.login-card {
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
}

.login-title {
  font-size: 26px;
  font-weight: 700;
  color: #101828;
  margin-bottom: 8px;
  text-align: start;
}

.login-subtitle {
  font-size: 14px;
  color: #667085 !important;
  margin-bottom: 25px !important;
  text-align: start;
}

.login-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background: #f2f4f7;
  margin-bottom: 16px;
  font-size: 14px;
}

.login-input:focus {
  border-color: #0056b3;
  outline: none;
}

.login-password-wrapper {
  position: relative;
}

.toggle-password-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.recover-password {
  font-size: 12px;
  color: #667085;
  text-align: right;
  margin-bottom: 20px;
  cursor: pointer;
}

.signin-button {
  width: 100%;
    background: linear-gradient(90deg, #0c68ca 60%, #1282fa 100%);
    color: #fff;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 6px 18px rgba(33, 98, 248, 0.418);
    cursor: pointer;
    margin-bottom: 8px;
    transition: 
    background 0.2s,
    box-shadow 0.2s,
    transform 0.25s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.signin-button:hover {
  transform: perspective(200px) rotateX(8deg) scale(1.03);
  box-shadow: 0 12px 32px rgba(45, 108, 255, 0.22);
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #98a2b3;
  font-size: 13px;
  margin: 20px 0;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #e4e7ec;
  margin: 0 10px;
}

.signup-text {
  font-size: 14px;
  color: #667085;
}

.signup-link {
  color: #0056b3;
  cursor: pointer;
  font-weight: 600;
}

.signup-link:hover {
  text-decoration: underline;
}

.login-username-wrapper {
  position: relative;
}

.login-domain-suggestion {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  padding: 6px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 5;
}

.login-domain-suggestion:hover {
  background: #f5f5f5;
}